<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/base.css">
    <script src="https://kit.fontawesome.com/70cc7e71fa.js" crossorigin="anonymous"></script>
    <title>Cargar partido <%= data[0].match_id %> | LPF</title>
</head>

<body>
    <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="main">
        <p class="sign" align="center">Partido <%= data[0].match_id %></p>
        <p class="sign black" align="center"><%= data[0].match_date.toLocaleDateString('en-GB') %> - <%= data[0].match_hour %></p>
        <form class="form1" action="/cargarResultado" method="post">
            <input type="hidden" name="match_id" value="<%= data[0].match_id %>">
            <input type="hidden" name="team1" value="<%= data[0].match_team1 %>">
            <input type="hidden" name="team2" value="<%= data[0].match_team2 %>">
            <h1 class="sign" align="center">Jugadores:</h1>
            <div class="jugadores" id="div_jugadores">
                <div class="t1">
                    <h2 class="eq_header">Equipo 1</h2>
                    <div class="eq_jugadores" id="eq_jugadores1">
                        <% for (let x = 1; x < data.length; x++) {%>
                            <% if (data[x].team_id == data[0].match_team1) {%>
                                <p class="e_jugador" plid="<%= data[x].team_player %>" id="jugador_<%= data[x].team_player %>" ><%= data[x].user_name[0] %>. <%= data[x].user_surname %></p>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="t2">
                    <h2 class="eq_header">Equipo 2</h2>
                    <div class="eq_jugadores" id="eq_jugadores2">
                        <% for (let x = 1; x < data.length; x++) {%>
                            <% if (data[x].team_id == data[0].match_team2) {%>
                                <p class="e_jugador" plid="<%= data[x].team_player %>" id="jugador_<%= data[x].team_player %>"><%= data[x].user_name[0] %>. <%= data[x].user_surname %></p>
                            <% } %>
                        <% } %>
                    </div>
                </div> 
            </div>
            <div class="resultados">
                <input type="number" name="goles_eq1" id="goles_eq1">
                <input type="number" name="goles_eq2" id="goles_eq2">
            </div>   
            <input type="submit" value="Cargar" class="submit" align="center" id="cargarButton">
            </div>
        </form>
    </div>

    <style>
        .e_jugador:hover {
            cursor: move;
        }

        .e_jugador {
            background: rgb(236, 122, 14);
        }

        .eq_jugadores {
            height: 80%;
            width: 100%;
            padding-left: 5px;
        }
        
        .eq_header {
            margin: 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #000;
        }

        .t1, .t2 {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            outline: 1px solid #000;
        }

        .jugadores {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .resultados {
            height: 5vh;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .resultados input {
            margin: 0;
            padding: 0;
            width: 20%;
            height: 100%;
            text-align: center;
        }
        
        .player {
            margin: 2%;
        }

        .black {
            color: #000;
        }
        
        form.form1 {
            padding-top: 10px;
        }

        .sign {
            padding-top: 10px;
        }

        [hidden] {
            display: none; 
        }

        .submit {
            margin-top: 10px;
        }

        .submit a {
            color: #fff;
        }
    </style>

    
    <script src="/js/editarPartido.js"></script>

</body>

</html>