<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>LPF</title>
</head>
<body>
    <header>
        <div class="header_left">
            <p><%= user_info.user_name %>: <% if (user_info.user_role == 'A') { %>
                                                    ADMINISTRADOR
                                            <% } else { %> 
                                                    JUGADOR
                                            <% } %>
            </p>
        </div>

        <div class="header_right">
            <button id="b_confUser" username="<%= user_info.user_username %>">Configurar Perfil</button>
            <button id="b_logout">Cerrar Sesión</button>
            <button id="b_estadisticas">Estadísticas</button>
            <button id="b_historialPartidos">Historial</button>
        </div>
        
    </header>

    <div class="main">
        <% if (user_info.user_role == 'A') { %>
            <div class="admin_buttons">
                <button class="admin_button" id="b_altaUsuario">Dar de alta un usuario</button>
                <button class="admin_button" id="b_crearPartido">Crear partido</button>
                <button class="admin_button" id="b_borrarJugador">Borrar Jugador de un Partido</button>
            </div>

            <script>
                const b_altaUsuario = document.getElementById('b_altaUsuario');
                const b_crearPartido = document.getElementById('b_crearPartido');
                const b_borrarJugador = document.getElementById('b_borrarJugador');

                b_altaUsuario.addEventListener('click', () => {
                    window.location.href = `/altausuario`
                })

                b_crearPartido.addEventListener('click', () => {
                    window.location.href = `/crearpartido`
                })

                b_borrarJugador.addEventListener('click', () => {
                    window.location.href = `/borrarJugador/${parseInt(prompt('Numero de partido?'))}`
                })
            </script>
        <% } %> 

        <div class="partidos" id="partidos_pend_conf">  
            <% if (matches_info.length > 0) { %> 
                <% matches_info.forEach(match => { %>
                    <% if (match.match_status == 'pendiente' || match.match_status == 'confirmado') { %>
                    <div class="partido">
                        <div class="partido_header">
                            <h2 id="match<%=match.match_id%>"> <%= match.match_date.toLocaleDateString('en-GB') %> - <%= match.match_hour %></h2>
                        </div>
                        <div class="partido_body">
                            <p>Anotados: <%= match.playersCount %>/12</p>
                        </div>
                        <div class="partido_footer">
                            <button class="partido_button b_detallePartido" idPartido=<%= match.match_id %> >Detalle</button>
                        </div>
                    </div>
                    <% } %> 
                <% }) %>                
            <% } %> 
        </div>
        <div class="partidos" id="partidos_jugados" hidden>  
            <% if (matches_info.length > 0) { %> 
                <% matches_info.forEach(match => { %>
                    <% if (match.match_status == 'jugado') { %>
                    <h1>Historial de partidos Jugados</h1>
                    <div class="partido">
                        <div class="partido_header">
                            <h2 id="match<%=match.match_id%>"> <%= match.match_date.toLocaleDateString('en-GB') %> - <%= match.match_hour %></h2>
                        </div>
                        <div class="partido_body">
                            <p>Jugadores: <%= match.playersCount %></p>
                        </div>
                        <div class="partido_footer">
                            <button class="partido_button b_detallePartido" idPartido=<%= match.match_id %> >Detalle</button>
                        </div>
                    </div>
                    <% } %> 
                <% }) %>                
            <% } %> 
        </div>
    </div>

    <script src="/js/home.js"></script>

</body>
</html>