<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPF</title>
</head>
<body>
    <header>
        <p><%= user_info.user_name %>: <% if (user_info.user_role == 'A') { %>
                                                ADMINISTRADOR
                                        <% } else { %> 
                                                JUGADOR
                                        <% } %>
        %></p>

        <button id="b_confUser" username="<%= user_info.user_username %>">Configurar Perfil</button>
        <button id="b_logout">Cerrar Sesión</button>
        
    </header>

    <div class="main">
        <% if (user_info.user_role == 'A') { %> 
            <button class="admin_buttons" id="b_altaUsuario">Dar de alta un usuario</button>
            <button class="admin_buttons" id="b_crearPartido">Crear partido</button>
            <button class="admin_buttons" id="b_proponerHorario">Proponer Horario</button>
        <% } %> 

        <div class="partidos">  
            <p> <%= matches_info.length %> </p> 
            <% if (matches_info.length > 0) { %> 
                <% matches_info.forEach(match => { %>
                    <p>Partido <%= match.match_id %>. Dia <%= match.match_date %>  Hora <%= match.match_hour %> <a href="">ANOTARSE</a></p> 
                <% }) %>                
            <% } %> 
        </div>
    </div>

    <script src="/js/home.js"></script>

</body>
</html>