<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/base.css">
    <script src="https://kit.fontawesome.com/70cc7e71fa.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/img/icono.ico">
    <title>Partido <%= data[0].match_id %> | LPF</title>
</head>

<body>
    <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="main">
            <p class="sign" align="center">Partido <%= data[0].match_id %>
            <% if (user_role == 'A' && data[0].match_status != 'jugado') { %>
                <button id="editarButton"><i class="fa-solid fa-pen-to-square"></i></button>
            <% } else { %>
                <button id="verEquiposButton"><i class="fa-solid fa-people-group"></i></button>
            <% } %>
            </p>
        <p class="sign black" align="center"><%= data[0].match_date.toLocaleDateString('en-GB') %> - <%= data[0].match_hour %></p>
        <form class="form1" action="/anotarse" method="post">
            <input type="hidden" name="match" value="<%= data[0].match_id %>">
            <input type="hidden" name="team1" value="<%= data[0].match_team1 %>">
            <input type="hidden" name="team2" value="<%= data[0].match_team2 %>">
            <h1 class="sign" align="center">Jugadores:</h1>
            <div class="jugadores" id="div_jugadores">
            <% if (data[0].match_status == 'jugado') { %>
                <div class="jugadoresPorEquipo">
                    <div class="t1">
                        <h2 class="eq_header">Equipo 1 (<%= data[0].match_det_t1goals %>)</h2>
                        <div class="eq_jugadores" id="eq_jugadores1">
                            <% for (let x = 1; x < data.length; x++) {%>
                                <% if (data[x].team_id == data[0].match_team1) {%>
                                    <p class="e_jugador" plid="<%= data[x].team_player %>" id="jugador_<%= data[x].team_player %>"><%= data[x].user_name[0] %>. <%= data[x].user_surname %></p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="t2">
                        <h2 class="eq_header">Equipo 2 (<%= data[0].match_det_t2goals %>)</h2>
                        <div class="eq_jugadores" id="eq_jugadores2">
                            <% for (let x = 1; x < data.length; x++) {%>
                                <% if (data[x].team_id == data[0].match_team2) {%>
                                    <p class="e_jugador" plid="<%= data[x].team_player %>" id="jugador_<%= data[x].team_player %>"><%= data[x].user_name[0] %>. <%= data[x].user_surname %></p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <script src="/js/partido.js"></script>
            <% } else { %>    
                <% for (let x = 1; x < data.length; x++) {%>
                    <p class="player" align="center" plid="<%= data[x].team_player %>"> <%= data[x].user_name[0] %>. <%= data[x].user_surname %> %></p>
                <% } %>
                <script>
                    let elems_jugadores2 = document.getElementsByClassName('player');
                    for (let x = 0; x < elems_jugadores2.length; x++) {
                        elems_jugadores2[x].addEventListener('click', (e) => {
                            let plid = e.target.getAttribute('plid');
                            window.open(`/jugador/${plid}`, '_blank');
                        })
                    }
                </script>
            <% } %>
            <% if (data[0].match_status == 'pendiente' || data[0].match_status == 'confirmado') { %>
                <% if (data.length > 1 && data[1].playersCount >= 12) { %>
                    <input type="button" value="No más cupos" class="submit disabled" disabled>                    
                <% } else { %>
                    <input type="submit" value="Anotarse" class="submit" align="center" id="anotarseButton">
                <% } %>
            <% } %>
            </div>
        </form>
       
        <% if (user_role == 'A' && data[0].match_status != 'jugado') { %>
            <form action="/editarPartido" method="post" class="formEditar" id="editarJugadores" hidden>
                <div class="editarJugadores">
                    <div class="t1">
                        <h2 class="eq_header">Equipo 1</h2>
                        <div class="eq_jugadores" id="eq_jugadores1" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <% for (let x = 1; x < data.length; x++) {%>
                                <% if (data[x].team_id == data[0].match_team1) {%>
                                    <p class="e_jugador" plid="<%= data[x].team_player %>" id="jugador_<%= data[x].team_player %>" draggable="true" ondragstart="drag(event)"><%= data[x].user_name[0] %>. <%= data[x].user_surname %></p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="t2">
                        <h2 class="eq_header">Equipo 2</h2>
                        <div class="eq_jugadores" id="eq_jugadores2" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <% for (let x = 1; x < data.length; x++) {%>
                                <% if (data[x].team_id == data[0].match_team2) {%>
                                    <p class="e_jugador" plid="<%= data[x].team_player %>" id="jugador_<%= data[x].team_player %>" draggable="true" ondragstart="drag(event)"><%= data[x].user_name[0] %>. <%= data[x].user_surname %></p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="eq1" value="<%= data[0].match_team1 %>">
                <input type="hidden" id="eq1players" name="eq1players" value='[]'>
                <input type="hidden" name="eq2" value="<%= data[0].match_team2 %>">
                <input type="hidden" id="eq2players" name="eq2players" value='[]'>
                <input type="hidden" name="match_id" value="<%= data[0].match_id %>">
                <div class="edit_buttons_div">
                    <button type="button" class="submit" id="buttonAlAzar"><i class="fa-solid fa-dice-five"></i></button>
                    <button type="submit" class="submit" id="editarSubmit"><i class="fa-solid fa-floppy-disk"></i></button>
                </div>
            </form>
            <% if (data[0].match_status == 'confirmado') { %>
                <button id="cargarResultado" class="submit"><a href="/cargarResultado/<%= data[0].match_id %>">Cargar Resultado</a></button>
            <% } %>
            <% if (data[0].match_status == 'pendiente') { %>
                <form action="/borrarPartido" method="post" class="formBorrar">
                    <input type="hidden" name="eq1" value="<%= data[0].match_team1 %>">  
                    <input type="hidden" name="eq2" value="<%= data[0].match_team2 %>">
                    <input type="hidden" name="match_id" value="<%= data[0].match_id %>">     
                    <button type="submit" class="submit" id="borrarSubmit"><i class="fa-solid fa-trash-can"></i></button>
                </form>
            <% } %>
            <script src="/js/editarPartido.js"></script>
        <% } else { %>
            <div class="editarJugadores" id="verEquipos" hidden>
                    <div class="t1">
                        <h2 class="eq_header">Equipo 1</h2>
                        <div class="eq_jugadores" id="eq_jugadores1">
                            <% for (let x = 1; x < data.length; x++) {%>
                                <% if (data[x].team_id == data[0].match_team1) {%>
                                    <p class="e_jugador" plid="<%= data[x].team_player %>" id="jugador_<%= data[x].team_player %>"><%= data[x].user_name[0] %>. <%= data[x].user_surname %></p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="t2">
                        <h2 class="eq_header">Equipo 2</h2>
                        <div class="eq_jugadores" id="eq_jugadores2">
                            <% for (let x = 1; x < data.length; x++) {%>
                                <% if (data[x].team_id == data[0].match_team2) {%>
                                    <p class="e_jugador" plid="<%= data[x].team_player %>" id="jugador_<%= data[x].team_player %>"><%= data[x].user_name[0] %>. <%= data[x].user_surname %></p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>


                <script>
                    const verEquiposButton = document.getElementById('verEquiposButton');
                    const verEquipos = document.getElementById('verEquipos');
                    const div_jugadores = document.getElementById('div_jugadores');
                    verEquiposButton.addEventListener('click', () => {
                    div_jugadores.toggleAttribute('hidden')
                    if (verEquipos != null) {
                        verEquipos.toggleAttribute('hidden');
                    }
                    })

                </script>
        <% } %>
    </div>

    <style>
        .edit_buttons_div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin: 10px 0 0 0;
        }
        
        .edit_buttons_div button {
            margin: 0;
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .formBorrar {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        #borrarSubmit {
            background: #f00;
            margin: 0;
        }

        .e_jugador:hover {
            cursor: move;
        }

        #verEquipos .e_jugador:hover {
            cursor:default;
        }

        .e_jugador {
            background: #7EA172;
        }

        .eq_jugadores {
            height: 80%;
            width: 100%;
            padding-left: 5px;
        }
        
        .eq_header {
            margin: 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #000;
            text-align: center;
        }

        .t1, .t2 {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            outline: 1px solid #000;
        }

        .editarJugadores {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .jugadoresPorEquipo {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .jugadoresPorEquipo .e_jugador {
            background: none;
            cursor: pointer;
        }
        
        .formEditar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        #editarButton, #verEquiposButton {
            border: none;
            background: none;
            font-size: 20px;
            cursor: pointer;
        }
        
        #anotarseButton {
            margin: 10px 0 0 0;
        }
        
        #cargarResultado {
            margin: 0;    
        }
        
        .player {
            margin: 2%;
            cursor: pointer;
        }

        .black {
            color: #000;
        }
        
        form.form1 {
            padding-top: 10px;
        }

        .sign {
            padding-top: 10px;
        }

        [hidden] {
            display: none; 
        }

        .submit {
            margin: 0;
            margin-bottom: 5px;
        }

        .submit a {
            color: #fff;
        }

        .disabled {
            background: rgb(122, 120, 120);
            cursor: not-allowed;
        }
    </style>

</body>

</html>
